<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>FarmerName</th>
      <th>Address</th>
      <th>Enterprise</th>
    </tr>
  </thead>
  <tbody>
    {{#each placemark.farms}}
      <tr>
        <td>
          {{farmername}}
        </td>
        <td>
          {{address}}
        </td>
        <td>
          {{enterprise}}
        </td>
        <td>
          <a href="/placemark/{{../placemark._id}}/deletefarm/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>